<a href="https://colab.research.google.com/github/LucasParreirasDS/Studying/blob/main/Lista1_INFNET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lista de Exercicios | Bootcamp2022/Monitoria-Lista01.pdf

## 1. Imprima a tabuada do 1 ao 10

In [6]:
a = 1
  
for v in range(1, 11):
  while a < 11:
    print(f'{v}x{a} = {a*v}')
    a += 1
  print('')
  a=1

1x1 = 1
1x2 = 2
1x3 = 3
1x4 = 4
1x5 = 5
1x6 = 6
1x7 = 7
1x8 = 8
1x9 = 9
1x10 = 10

2x1 = 2
2x2 = 4
2x3 = 6
2x4 = 8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18
2x10 = 20

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27
3x10 = 30

4x1 = 4
4x2 = 8
4x3 = 12
4x4 = 16
4x5 = 20
4x6 = 24
4x7 = 28
4x8 = 32
4x9 = 36
4x10 = 40

5x1 = 5
5x2 = 10
5x3 = 15
5x4 = 20
5x5 = 25
5x6 = 30
5x7 = 35
5x8 = 40
5x9 = 45
5x10 = 50

6x1 = 6
6x2 = 12
6x3 = 18
6x4 = 24
6x5 = 30
6x6 = 36
6x7 = 42
6x8 = 48
6x9 = 54
6x10 = 60

7x1 = 7
7x2 = 14
7x3 = 21
7x4 = 28
7x5 = 35
7x6 = 42
7x7 = 49
7x8 = 56
7x9 = 63
7x10 = 70

8x1 = 8
8x2 = 16
8x3 = 24
8x4 = 32
8x5 = 40
8x6 = 48
8x7 = 56
8x8 = 64
8x9 = 72
8x10 = 80

9x1 = 9
9x2 = 18
9x3 = 27
9x4 = 36
9x5 = 45
9x6 = 54
9x7 = 63
9x8 = 72
9x9 = 81
9x10 = 90

10x1 = 10
10x2 = 20
10x3 = 30
10x4 = 40
10x5 = 50
10x6 = 60
10x7 = 70
10x8 = 80
10x9 = 90
10x10 = 100

## 2. Considerando os números inteiros de 1 a 100, escreva um código que imprima apenas os números divisíveis por 3.

In [11]:
for x in range(1, 101):
  if x % 3 == 0:
    print(x)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

## 3. Imprima os seguintes números na forma abaixo:
###1
###2 2
###3 3 3
###4 4 4 4
###5 5 5 5 5

In [13]:
for i in range(1, 6):
  print(i * (str(i) + ' '))

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

## 4. Dadas as duas listas:
###Lista 1 : [0, 4, 17, 8, 25, 6, 3, 99, 62, 7, 30, 71,]
###Lista 2 : [10, 11, 27, 18, 5, 62, 3, 94, 2, 7]
###Crie uma nova lista que contenha apenas números ímpares da primeira lista e números pares da segunda lista.

In [16]:
list1 = [0, 4, 17, 8, 25, 6, 3, 99, 62, 7, 30, 71]
list2 = [10, 11, 27, 18, 5, 62, 3, 94, 2, 7]

In [19]:
listX = list()

for x in list1:
  if x % 2 == 1:
    listX.append(x)

for x in list2:
  if x % 2 == 0:
    listX.append(x)

listX

[17, 25, 3, 99, 7, 71, 10, 18, 62, 94, 2]

## 5. Dados dois números inteiros, escreva um código que:
####a) Retorne com o produto dos números. 
####b) Se o produto for maior que 1000, retorne a soma. 
####c) Execute a tarefa acima para duas listas de números. 
####d) Execute as tarefas acima em uma função

In [23]:
# Letra A
a = int(input('Digite o 1º número: '))
b = int(input('Digite o 2º número: '))

print(f'O produto é {a*b}')

Digite o 1º número: 5
Digite o 2º número: 15
O produto é 75

In [26]:
# Letra B

a = int(input('Digite o 1º número: '))
b = int(input('Digite o 2º número: '))

if a*b > 1000:
  print(f'A soma é {a+b}')
else:
  print('O produto é menor que 1000')

Digite o 1º número: 100
Digite o 2º número: 256325
A soma é 256425

In [33]:
lists = [[], []]
lists[0].append(1)
lists[1].append(2)
lists

[[1], [2]]

In [58]:
# Letra C
'''
    Para fazer o exercício levei em consideração o seguinte:
- As duas listas precisam ser do mesmo tamanho
- O produto a ser maior que 1000 é entre elementos de mesmo índice
- A saída será uma nova lista. Nas iterações em que o produto for menor que 1000, será colocado um 'X' para sinalizar que o soma não foi calculada.
'''
lists = [[], []]

n = int(input('Quantos elementos terá cada lista? '))
y = 0

while y < 2:
  for i in range(1, n+1):
    a = int(input(f'Lista {y+1} - {i}º elemento: '))
    lists[y].append(a)
  y = y+1
  print('-'*10)

result_list  = []

for x in range(n):
  b = lists[0][x]
  c = lists[1][x]
  if b*c  > 1000:
    result_list.append(b+c)
  else:
    result_list.append('X')
print(result_list)

Quantos elementos terá cada lista? 1
Lista 1 - 1º elemento: 2
----------
Lista 2 - 1º elemento: 2
----------
['X']

In [63]:
# Letra D
def exercise5(n=1):
  '''
  n: Número de elementos das listas. Por default, a função vai calcular para apenas 2 números (2 listas com 1 número cada)
  '''
  lists = [[], []]

  y = 0

  while y < 2:
    for i in range(1, n+1):
      a = int(input(f'Lista {y+1} - {i}º elemento: '))
      lists[y].append(a)
    y = y+1
    print('-'*10)

  result_list  = []

  for x in range(n):
    b = lists[0][x]
    c = lists[1][x]
    if b*c  > 1000:
      result_list.append(b+c)
    else:
      result_list.append('X')
  print(result_list)

In [65]:
exercise5(4)

Lista 1 - 1º elemento: 5
Lista 1 - 2º elemento: 25
Lista 1 - 3º elemento: 85
Lista 1 - 4º elemento: 45
----------
Lista 2 - 1º elemento: 1
Lista 2 - 2º elemento: 54
Lista 2 - 3º elemento: 85
Lista 2 - 4º elemento: 42
----------
['X', 79, 170, 87]